<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MAX ARDITO</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="icon" href="/images/favicon.ico" />
    <nav>
      <a href="/">Home</a>
      <a href="/about.html">About</a>
    </nav>
  </head>
  <body>
    <br />
    <main role="main">
      <div class="container">$body$</div>
    </main>
    <br />
  </body>
</html>
